{{define "right_header"}}
<nav class="mt-2">
  <div class="relative hidden md:block">
    <div
      class="absolute inset-y-0 left-3 flex items-center pl-3 pointer-events-none"
    >
      <svg
        class="w-5 h-5 text-gray-500"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span class="sr-only">Search icon</span>
    </div>
    <input
      type="text"
      onChange="{handleInputChange}"
      class="block p-3 pl-[60px] w-[400px] text-sm rounded-full 
      bg-zinc-800 outline-none border-gray-600 placeholder-gray-400 text-white"
      placeholder="Search"
    />
  </div>
  <div class="bg-zinc-800 p-3 px-4 w-[400px] mt-11 rounded-[17px]">
    <h1 class="text-white font-bold text-xl">Subscribe to Premium</h1>
    <p class="font-bold mt-2">
      Subscribe to unlock new features and if eligible, receive a share of ads
      revenue.
    </p>
    <button
      class="bg-indigo-500 hover:bg-indigo-600 text-white p-2 px-4 rounded-[17px] mt-2 transition duration-300 ease-in-out"
    >
      Subscribe
    </button>
  </div>

  <div class="bg-zinc-800 w-[400px] mt-5 rounded-[17px]">
    <h1 class="text-white font-bold text-xl p-2 px-4">What’s happening</h1>
    <div
      class="p-3 px-4 cursor-pointer hover:bg-zinc-700 transition rounded-b-[17px]"
    >
      <p class="text-zinc-400 text-sm">Trending in Argentina</p>
      <p class="font-bold text-white">BO FRAUDE</p>
      <p class="text-zinc-400 text-sm">23.5K posts</p>
    </div>
  </div>
</nav>
{{end}}
