<!doctype html>
<html>
  <head>
    <title>X clone</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      background-color: #0a0a0a;
      color: #e2e8f0;
      font-family: "Poppins", sans-serif;
    }
  </style>
  <body class="bg-neutral-950 min-h-screen">
    <div class="grid grid-cols-3 gap-4" id="grid-me-daddy">
      <div id="leftHeader" class="">{{template "left_header" .}}</div>
      <div class="">{{embed}}</div>
      <div id="rightHeader" class="">{{template "right_header" .}}</div>
    </div>

    <script>
      var currentPath = window.location.pathname;
      if (
        currentPath === "/sign_up_view" ||
        currentPath === "/sign_in_view" ||
        currentPath === "/"
      ) {
        var gridMeDaddy = document.getElementById("grid-me-daddy");
        if (gridMeDaddy) {
          gridMeDaddy.removeAttribute("class");
        }

        var leftHeader = document.getElementById("leftHeader");
        var rightHeader = document.getElementById("rightHeader");
        if (leftHeader) {
          leftHeader.style.display = "none";
        }
        if (rightHeader) {
          rightHeader.style.display = "none";
        }
      }
    </script>
  </body>
  <script src="/scripts/main.js"></script>
</html>
