<div
  class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="m-5 p-10 bg-grey-3">
    <div class="w-[300px] max-w-md space-y-8 md:w-[400px] lg:w-[400px]">
      <div>
        <h2 class="mt-6 text-center text-3xl text-grey">Sign up in X</h2>
      </div>
      <form>
        <input
          id="name"
          name="name"
          placeholder="Name"
          placeholder="Name"
          class="border-b-[1px] border-neutral-800 w-full p-5 cursor-pointer my-3 bg-transparent outline-neutral-800"
        />

        <input
          id="email"
          name="email"
          placeholder="Email"
          class="border-b-[1px] border-neutral-800 w-full p-5 cursor-pointer my-3 bg-transparent outline-neutral-800"
        />

        <input
          type="password"
          id="password"
          name="password"
          placeholder="*******"
          class="my-3 border-b-[1px] border-neutral-800 w-full p-5 cursor-pointer bg-transparent outline-neutral-800"
        />
        <button
          type="submit"
          class="bg-indigo-400 my-2 w-full hover:bg-indigo-500 p-2 px-5 rounded-full text-white font-bold"
        >
          Sign up
        </button>
      </form>

      <div className="flex items-center justify-between">
        <div className="text-sm">
          Don't have an account?
          <span className="hover:text-sky-500 ml-2 transition-colors">
            Sign up here!
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="loading-message" style="display: none">Cargando...</div>

<div id="success-message" style="display: none">
  <h1>Te hemos enviado un correo <span id="success-email"></span></h1>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var form = document.getElementById("signup");
    var loadingMessage = document.getElementById("loading-message");
    var successMessage = document.getElementById("success-message");
    var successEmail = document.getElementById("success-email"); // Nuevo elemento span

    form.addEventListener("submit", function (e) {
      e.preventDefault();

      // Obtén los valores de name, email y password
      var name = document.getElementById("name").value;
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;

      // Oculta el formulario
      form.style.display = "none";

      // Muestra el mensaje de "Cargando"
      loadingMessage.style display = "block";

      // Crea un objeto FormData con los datos del formulario
      var formData = new FormData();
      formData.append("name", name);
      formData.append("email", email);
      formData.append("password", password);

      // Realiza una solicitud Fetch para enviar los datos al servidor
      fetch("/signup", {
        method: "POST",
        body: formData,
      })
        .then(function (response) {
          loadingMessage.style.display = "none"; // Oculta el mensaje de "Cargando"

          if (response.status === 201) {
            // Muestra el mensaje de éxito con el valor de email
            successMessage.style.display = "block";
            successEmail.textContent = email; // Establece el contenido del span con el valor de email
          } else {
            // Maneja la respuesta en caso de error
            console.error("Error en la carga");
          }
        })
        .catch(function (error) {
          console.error("Error en la solicitud: " + error);
        });
    });
  });
</script>
